<!--
  ITMS - A CMSC 495 Project
  Group 2
  07 SEP 24
  This HTML file defines the Admin Dashboard page for the IT Management System (ITMS).
  
  Features:
  - Displays a table listing all IT tickets, including details such as ticket ID, status, 
    date submitted, name, email, department, issue type, and description.
  - Allows the admin to view and update the status of each ticket by linking 
    to the ticket details page.
  - Provides a logout button to allow the admin to securely log out of the system.
  
  Thymeleaf is used to dynamically render the list of tickets and their details.
  The page includes responsive styling with an external CSS file.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - IT Ticket System</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>Admin Dashboard</h1>
    <nav>
        <ul>
            <li><a href="/">ITMS SUBMIT PAGE</a></li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <h2>All Tickets</h2>
        <!-- table for all tickets--> 
        <div style="max-height: 400px; overflow-y: auto;">
        <table class="full-width-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Date Submitted</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Issue Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate over the tickets list -->
                <tr th:each="ticket : ${tickets}">
                    <td th:text="${ticket.id}"></td>
                    <td>
                        <!-- Link to open the ticket for status update -->
                        <a th:href="@{/admin/ticket-details/{id}(id=${ticket.id})}" th:text="${ticket.status}"></a>
                    <td th:text="${ticket.getFormattedDate()}"></td>
                    <td th:text="${ticket.name}"></td>
                    <td th:text="${ticket.email}"></td>
                    <td th:text="${ticket.department}"></td>
                    <td th:text="${ticket.issueType}"></td>
                    <td th:text="${ticket.description}"></td>                    
                </tr>
            </tbody>
        </table>
        </div>

    </section>
    <section>
        <div class="form-group">
            <form action="/logout" method="post">
                <button type="submit" class="btn">Logout</button>
            </form>
        </div>
    </section>

</main>
</body>
</html>
